:root {
    --enable-reduced-motion: false; 
}

body {
    background-image: radial-gradient(circle 815px at 23.4% -21.8%, rgba(9, 29, 85, 1) 0.2%, rgba(0, 0, 0, 1) 100.2%);
}

.principal {
    color: #0acacf;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.principal h2 {
    font-family: "Montserrat", sans-serif;
    ;
    font-weight: 500;
    font-style: normal;
}

.principal h4 {
    font-family: "Montserrat", sans-serif;
    ;
    font-weight: 500;
    font-style: italic;
    color: #08868a;
}

.principal h3 {
    font-family: "Montserrat", sans-serif;
    ;
    font-weight: 600;
}

.principal p {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 250;
    color: #d9e7ed;
    margin-bottom: 0!important;
}

.left-side {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.left-content {
    margin-top: 0!important;
    margin-bottom: 0!important;
    padding-bottom: 0;
    padding-top: 30px;
    max-width: 31em;
}

.personal-info{
    opacity: 0;
    transition: 1s ;
}

.show{
    opacity: 1 !important;
}


.class-person {
    background-color: #0ac8cf2b;
    max-width: 28rem;
    font-size: 15px;
    opacity: 0;
    transition: 1s ease-out;
}

.class-person p {
    color: #0acacf;
    font-weight: 600;
    border-radius: 100px!important;
}

.class-person-emphasis{
    transition: 1s;
}

.class-person-emphasis-effect{
    font-size: 16px;
    color: #2bef6c;
    font-weight: bold;
}


.left-links{
    opacity: 0;
    transition: 1s;
}

.section-links a {
    width: 28rem;
    color: #d9e7ed;
    background: none;
    transition: 0.4s;
    font-size: 12px;
}

.section-links a:hover {
    color: #2bef6c;
    background-color: #0ac8cf2b;
    border-radius: 5px;
}

.section-links a.active {
    color: #2bef6c;
    background-color: #0ac8cf2b;
    border-radius: 5px;
}
.contact-links a {

    color: #0acacf !important;
    transition: 0.3s;
}

.contact-links a:hover {

    color: #2bef6c !important;
    animation: shaking 0.7s 1;
    display: inline-block;
}

.sections{
    opacity: 0;
    transition: 1s;
}
.sections h4 {

    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    color: #0acacf;
}

.skills-section {
    border-left: 1px solid #046467;
    padding-left: 12px;
    border-left-style: dotted;
}

.skills-section h5 {
    color: #08868a;
    text-align: center;
    margin-bottom: 20px;
}

.projetos{
    opacity: 0;
    transition: 3s;
}

.project-card {
    background: none;
    border-color: #0acacf !important;
    max-height: 400px;
}

.project-card i {
    background: none;
    color: #0acacf;
    transition: 0.2s;

}

.project-card i:hover {
    background: none;
    color: #046467 !important;
}

.project-card img {
    border-style: none;
}

.project-card img:hover {
    animation: shaking 0.7s 1;
}

.experiencias-anteriores {
    opacity: 0;
    transition: 2s;
}

.list-group {
    position: sticky;
    top: 10px;
}

.texto-menor {
    font-size: smaller;
}

.text-white {
    color: whitesmoke;
}

.text-dark {
    color: black;
}

.text-green{
    color: #2bef6c;
    font-weight: bold;
}

footer {
    font-family: "Quicksand", sans-serif;
    color: #0acacf;
    padding-bottom: 10px;

}

.shake{
    animation: tilt-shaking 0.5s infinite;
    display: inline-block;
}

.pulse{
    animation: pulse 4s infinite;
    display: inline-block;
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(7deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-7deg); }
    100% { transform: rotate(0deg); }
}

@keyframes shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

@keyframes pulse {
    0% {
      color: #2bef6c;
      opacity: 0.4;
    }

    50%{
        color:#2bef6c;
        opacity: 1;
    }
    
    100% {
      color: #2bef6c;
      opacity: 0.4;
    }
  }

@media screen and (max-width: 576px) {

    .class-person {
        font-size: 10px;
    }

    .class-person-emphasis-effect{
        font-size: 13px;
    }

    .section-links {
        display: none;
    }

    .contact-links {
        text-align: center;
    }

    .sobre-mim {
        padding: 0 !important;
    }

    .projetos {
        padding: 0 !important;
        margin-top: 75px !important;
    }

    .projetos img {

        height: 150px;
        padding-left: 16px;
        padding-bottom: 8px;

    }

    .project-card {

        padding-left: 7px !important;
        max-width: 600px;
    }

    .experiencias-anteriores {
        padding: 0 !important;
        margin-top: 75px !important;
    }

    .skills {
        padding: 0 !important;
        margin-top: 75px !important;
        opacity: 0;
        transition: 2s;
    }

    .skills-section {
        margin-top: 45px;
    }

    .blank-space {
        display: none;
    }

}